<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
<head>
<title>{% block title %}{% endblock %} - SquidMusic</title>
<link rel="stylesheet" href="/m/style.css">
<link type="text/css" href="/m/ui-lightness/jquery-ui-1.8.2.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/m/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/m/jquery-ui-1.8.2.custom.min.js"></script>
<script type="text/javascript" src="/m/jquery.tablednd_0_5.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(".nofollow").each(function(){
    $(this).click(function(ev) {
      ev.preventDefault();
      if($(this).attr("href") != "")
        jQuery.get($(this).attr("href"));
     });
  })});
</script>
{% block otherhead %}
{% endblock %}
</head>
<body>
{% include "navbar.html" %}
<div class="contentdiv">
{%block content %}{% endblock %}
</div>
</body>
</html>
